{% extends "layout.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div style="padding-bottom: 10px">
            <h3 class="p-3 mb-2 bg-dark text-white">DELETE ACCOUNT</h3>
        </div>
        <p>
            Enter your password and click on the button below to delete your account.
        </p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-danger" type="submit">Delete account</button>
    </form>
{% endblock %}